<html>
  <head>
    <link href="js/c3.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="chart"></div>
    
    <script src="js/d3.js" charset="utf-8"></script>
    <script src="js/c3.js"></script>
    <script>


var chart = c3.generate({
    data: {
        x : 'x',
        columns: [
            ['x', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5'],
            ['Done', 0.3, 0.2, 0.1, 0.4, 0.15],
            ['Ready For Test', 0.3, 0.30, 0.15, 0.10, 0.25],
			['Development', 0.3, 0.30, 0.5, 0.40, 0.35],
            ['Analyze', 0.1, 0.20, 0.25, 0.10, 0.25],
        ],
        groups: [
            ['Done', 'Ready For Test', 'Development', 'Analyze']
        ],
        type: 'bar'
    },
    axis: {
        x: {
            type: 'category' // this needed to load string x value
        },
		y : {
			max: 1.0,
            tick: {
                format: d3.format("%")
            }
        }
    },
    legend: {
        position: 'right'
    },
    grid: {
        x: {
            show: false
        },
        y: {
            show: true
        }
    }
});






    </script>
  </body>
</html>
