<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
	<link href="/css/jquery-ui.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/bootstrap.css" rel="stylesheet" >
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/socket.io-1.3.6.js"></script>
	<style type="text/css">
		.tdBorder{border-left:WhiteSmoke 2px solid;width: 200px;height:570px;}
		.tdBorderTitle{border-left:WhiteSmoke 2px solid;border-bottom:WhiteSmoke 2px solid;}
		.tdBorderLast{border-left:WhiteSmoke 2px solid;}
		div#process {padding-top:60px}
		label {
			display: inline-block;
			width: 5em;
		}

	/* Clearfix for the menu */
	.ui-menu:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.ui-menu .ui-menu-item {
		display: inline-block;
		float: left;
		margin: 5;
		padding: 5;
		width: auto;
	}
	</style>



	<script src="/js/angular.min.js"></script>
	<link rel="stylesheet" href="/css/task_style.css" media="all">

	<script>
	jQuery(document).ready(function($) {
		$('#btn_add_task').click(function(){
			$('.theme-popover-mask').fadeIn(100);
			$('.theme-popover').slideDown(200);
		})
		$('.theme-poptit .close').click(function(){
			$('.theme-popover-mask').fadeOut(100);
			$('.theme-popover').slideUp(200);
		})

	})
	</script>

    <title>Watson Kanban</title>
</head>

<body>
    
    <div id = "logo-container">
		<div style="float:left; padding:2px;"><img src = "images/logo.jpg"></img></div>
		<div style="float:left; padding-top:16px; padding-left: 10px"><h3><%=current_progress_name %></h3></div>
	</div>
	<div id="process" class="panel panel-default" rev = "<%=rev %>">
		<div>
		<ul id="nav">
			<li><a class="btn theme-login" href="/">Process Management</a></li>
			<li><a class="btn theme-login" id="btn_add_task" href="javascript:;" hidden>Add Task</a></li>
			<li><a class="btn theme-login" href="/logout">Logout</a></li>
		</ul>
		</div>
		<table border = "0" align = "center" id = "kanbantable" width = "98%" class="table table-condensed table-responsive ">
			<% for (var i = 0; i<process.length;  i++) { %>
				<th>
					<div class = "processtitle" title = "<%=process[i].description %>">
						<%=process[i].status_name %>(<%=process[i].tasks.length%>)
						<% if(process[i].wip) { %>
							WIP(<%=process[i].wip %>)
						<% } %>
					</div>
				</th>
			<% } %>
			<tr>
				<% for (var i = 0; i<process.length;  i++) { %>
					<td width = "20%" class = 'tdBorder' id = "status_<%=process[i].status_id %>">
						<% 
						for (var j = 0; j<process[i].tasks.length;  j++) { %>
							<div id = "<%=process[i].tasks[j]%>"></div>
						<% } %>
					</td>
				<% } %>
			</tr>
		</table>
	</div>

<div class="theme-popover" style="display: none;">
     <div class="theme-poptit">
          <a href="javascript:;" title="Close" class="close">×</a>
          <h3>Add task</h3>
     </div>
     <div class="theme-popbod dform" ng-app="myApp" ng-controller="tasksCtrl">
		 
           <form class="theme-signin" action="" method="" novalidate name="taskForm">
                <ol>
                     <!--<li><h4>Enter task info.</h4></li>-->
                     <li>
						<strong>Task Type:</strong>
					 	<!--<input type="text" name="taskTypeID" ng-model="task.taskTypeID" required class="ipt">-->
						 <select name="taskTypeID" ng-model="task.taskTypeID" ng-options="x for x in taskTypeIDs" required class="ipt"></select>
						<span style="color:red" ng-show="taskForm.taskTypeID.$dirty && taskForm.taskTypeID.$invalid">
							<span ng-show="taskForm.taskTypeID.$error.required">
								Task Type ID is blank.
							</span>
						</span>
					 </li>
                     <li>
						<strong>System Name:</strong>
						<select name="systemName" ng-model="task.systemName" ng-options="x for x in systemNames" required class="ipt"></select>
					 	<!--<input type="text" name="systemName" ng-model="task.systemName" required class="ipt">-->
						<span style="color:red" ng-show="taskForm.systemName.$dirty && taskForm.systemName.$invalid">
							<span ng-show="taskForm.systemName.$error.required">
								Task Type ID is blank.
							</span>
						</span>
					 </li>
                     <li>
						<strong>Task Name:</strong>
						<input type="text" name="taskName" ng-model="task.taskName" required class="ipt">
						<span style="color:red" ng-show="taskForm.taskName.$dirty && taskForm.taskName.$invalid">
							<span ng-show="taskForm.taskName.$error.required">
								Task name is blank.
							</span>
						</span>
					 </li>
                     <li>
						<strong>Start Estimate:</strong>
					 	<input type="text" name="startEst" ng-model="task.startEst" required class="ipt">
						<span style="color:red" ng-show="taskForm.startEst.$dirty && taskForm.startEst.$invalid">
							<span ng-show="taskForm.startEst.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>
					 <li>
						<strong>Finish Estimate:</strong>
					 	<input type="text" name="finishEst" ng-model="task.finishEst" required class="ipt">
						<span style="color:red" ng-show="taskForm.finishEst.$dirty && taskForm.finishEst.$invalid">
							<span ng-show="taskForm.finishEst.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>

					 <li>
						<strong>Owner:</strong>
					 	<input type="text" name="owner" ng-model="task.owner" required class="ipt">
						<span style="color:red" ng-show="taskForm.owner.$dirty && taskForm.owner.$invalid">
							<span ng-show="taskForm.owner.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>

					 <li>
						<strong>Approver:</strong>
					 	<input type="text" name="approver" ng-model="task.approver" required class="ipt">
						<span style="color:red" ng-show="taskForm.approver.$dirty && taskForm.approver.$invalid">
							<span ng-show="taskForm.approver.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>
					 <li>
						<strong>Total Work:</strong>
					 	
						 <select name="totalWork" ng-model="task.totalWork" ng-options="x for x in totalWorks" required class="ipt"></select>
						<span style="color:red" ng-show="taskForm.totalWork.$dirty && taskForm.totalWork.$invalid">
							<span ng-show="taskForm.totalWork.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>
					 <!--<li>
						<strong>Remaining Work:</strong>
					 	<input type="text" name="remainingWork" ng-model="task.remainingWork" required class="ipt">
						<span style="color:red" ng-show="taskForm.remainingWork.$dirty && taskForm.remainingWork.$invalid">
							<span ng-show="taskForm.remainingWork.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>-->
					 <li>
						<strong>Detail:</strong>
					 	<textarea name="detail" ng-model="task.detail" required class="ipt" rows="5" style="height:80px;"></textarea>
						<span style="color:red" ng-show="taskForm.detail.$dirty && taskForm.detail.$invalid">
							<span ng-show="taskForm.detail.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>
                     <li>
						<input type="button" ng-click="reset()" class="btn btn-primary" value="Reset">
						<input type="button" ng-click="add()" class="btn btn-primary" value="Add">
					 </li>
                </ol>
           </form>

     </div>
</div>


<div class="theme-popover-mask" style="display: none;"></div>
<script src="/js/task.js"></script>

	<script type="text/javascript">
		var socket = io();	
		socket.on('messages', function(msgObj){
			if (msgObj._id==null || msgObj._id==undefined) {
			} else {
				refreshPage();
			}
		});
		function getSocket(){
			if(socket==null || socket==undefined){
				socket = io();
			}
			return socket;
		}

		function refreshPage() {
			setTimeout(function(){
				window.location.reload();
			},5000);	
		}

		$(".processtitle").tooltip();

		function deleteTask(currentObj) {
			var toDeleteTaskObj = {};
			var currentStatusTasks = new Array();
			var currentStatus;
			toDeleteTaskObj.process_rev = $('#process').attr("rev");
			toDeleteTaskObj.task_id = $(currentObj).parent().parent().parent().attr('id');
			toDeleteTaskObj.task_rev = $(currentObj).parent().parent().parent().attr('rev');
			currentStatus = $(currentObj).parent().parent().parent().parent();
			toDeleteTaskObj.current_status_id = currentStatus.attr('id');
			currentStatus.children().each(function(i,task) {
				if (toDeleteTaskObj.task_id != task.id) {
					currentStatusTasks.push(task.id);
				}
			});
			toDeleteTaskObj.current_status_tasks = currentStatusTasks.toString();
			//alert(JSON.stringify(toDeleteTaskObj));
			$.post(
				"/tasks/deletetask",
				toDeleteTaskObj,
				function(data,result) {
					window.location.reload();
				}
			);
			$(currentObj).parent().parent().parent().remove();
		}
		$(document).ready(function(){
			$( "#nav" ).menu({position: {at: "left bottom"}});
			$( 'th' ).tooltip();
			var tasksjson ='<%-JSON.stringify(tasks) %>';
			var tasks = JSON.parse(tasksjson);
			var process = JSON.parse('<%-JSON.stringify(process) %>');
			$.each(tasks, function(index, content){
				var assignment = content.task_assignment;
				if (typeof(assignment) == "undefined") {
					var assignment = "Unassigned";
				}
				var endtime_estimated = content.task_end_est;
				if (typeof(endtime_estimated) == "undefined") {
					var endtime_estimated = "";
				}
				$( '#' + content._id ).replaceWith(""
					+"<div class='panel panel-primary' id = '" + content._id +"' rev = '" + content._rev +"'>"
					+"	<div class='panel-title'> <h6 >"
					+ "&nbsp;&nbsp;<a href = '#' class = 'taskdetail' title = '"
					+ "Task Type:" + content.task_type
					+ "&#13;Task Detail:" + content.task_detail
					+"'>Detail</a>&nbsp;&nbsp;&nbsp;"
					+"<a href = '#'>Edit</a>&nbsp;&nbsp;&nbsp;<a href = '#' onClick = 'deleteTask(this)'>Delete</a>"
					+"&nbsp;&nbsp;&nbsp;<font color = red>"+endtime_estimated + "</font>&nbsp;"
					+"</h6> </div>"
					+"	<div class='panel-body'><h5>"+content.task_name+"</h5></div>"
					+"	<div class='panel-footer'>" +"【"+assignment+ "】</div>"
					+"</div>");
					$('.panel-footer').css({"height":'40',"font-size":'16px',"color":'blue',"text-align":'right',"background-color":"white"});
					$('.panel-primary').css("width",'200');
					//$('.panel-primary').css("width",$(window).width()/process.length - 5);
					$(".panel-title").css({"background-color":"lavender","height":'30',"align":"center","padding-top":'8px'});
					$(".panel-primary").css("background-color","ivory");
					$(".panel-primary").mouseover(function(){
					$(".panel-primary").css("cursor","pointer");
					$(".taskdetail").tooltip();
					});
			});
			
			var statusString = "'#status_1";
			 $.each(process, function(i,status){
				 if (status.status_id > 1){
					 statusString = statusString + ",#status_" + status.status_id;
				 }
			  });
			  statusString = statusString + "'"
			  var startstatus = null;
			  var endstatus = null;
			  var startTasksArray = new Array();
			  var endTasksArray = new Array();
			$( eval(statusString) ).sortable({
				connectWith: ".tdBorder",
				start: function( event, ui ) {
					startstatus = ui.item.parent();
				},
				stop: function( event, ui ) {
					startstatus.children().each(function(i,task) {
						startTasksArray.push(task.id);
						//alert(task.id);
					});
					endstatus = ui.item.parent();
					//alert("end:" + endstatus);
					//alert(ui.item.parent().children(".panel-primary"));
					endstatus.children().each(function(i,task) {
						//alert(task.id);
						endTasksArray.push(task.id);
					});
					$.post(
						"./tasks",
						{"_id":ui.item.attr("id"),"task_status":ui.item.parent().attr("id"),
						 "start_status_id":startstatus.attr("id"),"end_status_id":endstatus.attr("id"),
						 "start_tasks":startTasksArray.toString(),"end_tasks":endTasksArray.toString(),
						 "rev":$('#process').attr("rev")},
						function(data,status) {
							alert(data.err);
						}
					);
					getSocket().emit('taskedit', {"_id":ui.item.attr("id"),"task_status":ui.item.parent().attr("id"),"rev":ui.item.attr("rev")});
				},

			});
		   $( ".tdBorder" ).disableSelection();
		});
	</script>

</body>

</html>