<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
	<link href="/css/jquery-ui.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/bootstrap.css" rel="stylesheet" >
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/socket.io-1.3.6.js"></script>
	<style type="text/css">
		.tdBorder{border-left:WhiteSmoke 2px solid;width: 200px;height:570px;}
		.tdBorderTitle{border-left:WhiteSmoke 2px solid;border-bottom:WhiteSmoke 2px solid;}
		.tdBorderLast{border-left:WhiteSmoke 2px solid;}
		div#process {padding-top:60px}
		label {
			display: inline-block;
			width: 5em;
		}

	/* Clearfix for the menu */
	.ui-menu:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.ui-menu .ui-menu-item {
		display: inline-block;
		float: left;
		margin: 5;
		padding: 5;
		width: auto;
	}


	</style>



	<script src="/js/angular.min.js"></script>
	<link rel="stylesheet" href="/css/task_style.css" media="all">

	<script>
	jQuery(document).ready(function($) {

		var language_setting = JSON.parse('<%-JSON.stringify(language_setting) %>');
		//alert(language_setting);
		$.post(
			"/tasks/getmessage",
			{"language_setting":language_setting},
			function(data,result) {
				if (typeof(Storage) !== "undefined") {
					// Code for localStorage/sessionStorage.
					//alert("ok");
				} else {
					// Sorry! No Web Storage support..
					alert("Your browser does not support HTML5.");
				}
				$.each(data,function(msgIndex,msgContent) {
					localStorage.setItem(msgIndex, msgContent);
				});
			}
		);

		$('#btn_add_task').click(function(){
			clearInputTemp();
			$('#add_edit_task_lable').html(localStorage.getItem("add_task"));
			$('#btn_add').show();
			$('#btn_edit').hide();

			$('.theme-popover-mask').fadeIn(100);
			$('.theme-popover').slideDown(200);
		})
		$('.theme-poptit .close').click(function(){
			$('.theme-popover-mask').fadeOut(100);
			$('.theme-popover').slideUp(200);
		})

	})
	</script>

    <title>Watson Kanban</title>
</head>

<body>
    
    <div id = "logo-container">
		<div style="float:left; padding:2px;"><img src = "images/logo.jpg"></img></div>
		<div style="float:left; padding-top:16px; padding-left: 10px"><h3><%=current_progress_name %></h3></div>
	</div>
	<div id="process" class="panel panel-default" rev = "<%=rev %>">
		<div>
		<ul id="nav">
			<li><a class="btn theme-login" href="/">Process Management</a></li>
			<li><a class="btn theme-login" id="btn_add_task" href="javascript:;" hidden>Add Task</a></li>
			<li><a class="btn theme-login" href="/logout">Logout</a></li>
		</ul>
		</div>
		<table border = "0" align = "center" id = "kanbantable" width = "98%" height = "100%" class="table table-condensed table-responsive ">
			<% for (var i = 0; i<process.length;  i++) { %>
				<th>
					<div class = "processtitle" title = "<%=process[i].description %>">
						<%=process[i].status_name %>(<%=process[i].tasks.length%>)
						<% if(i === 0) { %>
							<a id = "watson_next_task" href = "#">Which task to do next?</a>
						<% } %>
						<% if(process[i].wip) { %>
							WIP(<%=process[i].wip %>)
						<% } %>
					</div>
				</th>
			<% } %>
			<tr>
				<% for (var i = 0; i<process.length;  i++) { %>
					<td width = "20%" class = 'tdBorder' id = "status_<%=process[i].status_id %>">
						<% 
						for (var j = 0; j<process[i].tasks.length;  j++) { %>
							<div id = "<%=process[i].tasks[j]%>"></div>
						<% } %>
					</td>
				<% } %>
			</tr>
		</table>
	</div>
<div style="display: none;" id = "watson-tradeoff" value = ""></div>
<div class="theme-popover" style="display: none;">
     <div class="theme-poptit">
          <a href="javascript:;" title="Close" class="close">×</a>
          <h3 id="add_edit_task_lable">Add task</h3>
     </div>
     <div class="theme-popbod dform" ng-app="myApp" ng-controller="tasksCtrl">
		 
           <form class="theme-signin" action="" method="" novalidate name="taskForm">
				<input type="text" name="task_id" id = "task_setting_task_id" ng-model="task.task_id" required class="ipt" hidden>
				<input type="text" name="task_rev" id = "task_setting_task_rev" ng-model="task.task_rev" required class="ipt" hidden>
                <ol>

                <% for(var task_setting_id in task_settings){ %>
					<% if(task_settings[task_setting_id].item_type === "Unused") {
					} else { %>
						<li>
							<strong class="control-label"><%=task_settings[task_setting_id].item_name %></strong>
						<% if (task_settings[task_setting_id].item_type === "Selectable") { %>
							<select name="<%=task_setting_id %>" id = "task_setting_<%=task_setting_id %>" required class="ipt">
							<option value=''></option>
							<% for(var task_item_option in task_settings[task_setting_id].item_options){ %>	
								<option value='<%=task_settings[task_setting_id].item_options[task_item_option]%>'><%=task_settings[task_setting_id].item_options[task_item_option]%></option>
							<% } %>
							</select>
						<% } else if (task_settings[task_setting_id].item_type === "Editable") { %>
							<input type="text" name="<%=task_setting_id %>" id = "task_setting_<%=task_setting_id %>" ng-model="task.<%=task_setting_id %>" required class="ipt">
						<% } %>
						</li>
					<% }%>				 
				<% } %>	
				<li>
					<strong class="control-label">Task Assignment</strong>
					<select name="task_assignment" id = "task_setting_task_assignment" required class="ipt">
						<option value=''></option>
						<% for (var j = 0; j<process_members.length;  j++) { %>
							<option value='<%=process_members[j].user_nickname%>'><%=process_members[j].user_nickname%></option>
						<% } %>
					</select>
				</li>
				<!--
					 <li>
						<input type="text" name="task_id" ng-model="task.task_id" required class="ipt" hidden>
						<input type="text" name="task_rev" ng-model="task.task_rev" required class="ipt" hidden>
						<strong class="control-label">Task Name<font color="red">(*)</font>:</strong>
						<input type="text" name="taskName" ng-model="task.taskName" required class="ipt">
						
						<span id="span_required" style="color:red" ng-show="taskForm.taskName.$dirty && taskForm.taskName.$invalid">
							<span ng-show="taskForm.taskName.$error.required">
								Required.
							</span>
						</span>
					 </li>
                     <li>
						<strong class="control-label">Task Type:</strong>
						 <select name="taskTypeID" ng-model="task.taskTypeID" ng-options="x for x in taskTypeIDs" required class="ipt"></select>

					 </li>
                     <li>
						<strong class="control-label">System Name:</strong>
						<select name="systemName" ng-model="task.systemName" ng-options="x for x in systemNames" required class="ipt"></select>
					 </li>
                     <li>
						<strong class="control-label">Start Estimate:</strong>
					 	<input type="text" name="startEst" ng-model="task.startEst" required class="ipt">
					 </li>
					 <li>
						<strong class="control-label">Finish Estimate:</strong>
					 	<input type="text" name="finishEst" ng-model="task.finishEst" required class="ipt">
					 </li>

					 <li>
						<strong class="control-label">Owner:</strong>
						<select name="owner" ng-model="task.owner" ng-options="x for x in owners" required class="ipt"></select>
					 </li>

					 <li>
						<strong class="control-label">Approver:</strong>
						<select name="approver" ng-model="task.approver" ng-options="x for x in approvers" required class="ipt"></select>
					 </li>
					 <li>
						<strong class="control-label">Total Work:</strong>
					 	
						 <select name="totalWork" ng-model="task.totalWork" ng-options="x for x in totalWorks" required class="ipt"></select>
					 </li>
					 <li>
						<strong>Remaining Work:</strong>
					 	<input type="text" name="remainingWork" ng-model="task.remainingWork" required class="ipt">
						<span style="color:red" ng-show="taskForm.remainingWork.$dirty && taskForm.remainingWork.$invalid">
							<span ng-show="taskForm.remainingWork.$error.required">
								Task id is blank.
							</span>
						</span>
					 </li>
					 <li>
						<strong class="control-label">Detail:</strong>
					 	<textarea name="detail" ng-model="task.detail" required rows="5" style="height:80px;" class="ipt"></textarea>
					 </li>
					 -->
                     <li>
						<!-- <span style="color:red;">(*) is required.</span> -->
						<input type="button" ng-click="reset()" class="btn btn-primary" style="margin-left: 30px;" value="Reset">
						<input id="btn_add" type="button" ng-click="add()" ng-disabled="taskForm.taskName.$invalid" class="btn btn-primary" value="Add">
						<input id="btn_edit" type="button" ng-click="edit()" ng-disabled="taskForm.taskName.$invalid" class="btn btn-primary" value="Edit">
					 </li>

                </ol>
           </form>

     </div>
</div>

<div id="error-message" title="Error occured." style="display: none;">
  <p>
	<b><div id = "err-message-content">Error.</div></b>
  </p>
</div>

<!-- モーダルの配置 -->
<div class="modal" id="modal-example" tabindex="-1">
    <div class="modal-dialog">

        <!-- モーダルのコンテンツ -->
        <div class="modal-content">
            <!-- モーダルのヘッダ -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-header">ダイアログ</h4>
            </div>
            <!-- モーダルのボディ -->
            <div class="modal-body">
            </div>
            <!-- モーダルのフッタ -->
            <div class="modal-footer">
				<h5 class="modal-footer" id="modal-footer">ダイアログ</h5>
            </div>
        </div>
    </div>
</div>

<div class="theme-popover-mask" style="display: none;"></div>
<script src="/js/task.js"></script>

	<script type="text/javascript">
		var socket = io();	
		socket.on('messages', function(msgObj){
			if (msgObj._id==null || msgObj._id==undefined) {
			} else {
				refreshPage();
			}
		});
		function getSocket(){
			if(socket==null || socket==undefined){
				socket = io();
			}
			return socket;
		}

		function refreshPage() {
			setTimeout(function(){
				window.location.reload();
			},10000);	
		}

		$(".processtitle").tooltip();

		function deleteTask(currentObj) {
			var toDeleteTaskObj = {};
			var currentStatusTasks = new Array();
			var currentStatus;
			toDeleteTaskObj.process_rev = $('#process').attr("rev");
			toDeleteTaskObj.task_id = $(currentObj).parent().parent().parent().attr('id');
			toDeleteTaskObj.task_rev = $(currentObj).parent().parent().parent().attr('rev');
			currentStatus = $(currentObj).parent().parent().parent().parent();
			toDeleteTaskObj.current_status_id = currentStatus.attr('id');
			currentStatus.children().each(function(i,task) {
				if (toDeleteTaskObj.task_id != task.id) {
					currentStatusTasks.push(task.id);
				}
			});
			toDeleteTaskObj.current_status_tasks = currentStatusTasks.toString();
			//alert(JSON.stringify(toDeleteTaskObj));
			$.post(
				"/tasks/deletetask",
				toDeleteTaskObj,
				function(data,result) {
					window.location.reload();
				}
			);
			$(currentObj).parent().parent().parent().remove();
		}

		function clearInputTemp(){
			
			var task_settings_json = '<%-JSON.stringify(task_settings) %>';
			var task_settings = JSON.parse(task_settings_json);
			for(var task_setting_id in task_settings){
				
				var itemIdString = "'#task_setting_" + task_setting_id + "'";
					
				if ($(eval(itemIdString))[0]) {
						$(eval(itemIdString)).val("").trigger('change');	
					
				}
				
			}

			//$("input[name='task_id']").val("");
			//$("input[name='task_rev']").val("");
			//$('#err-message-content').text(data.err);
			//$("input[name='taskName']").val("");
			//$("select[name='taskTypeID']").val("");
			//$("select[name='systemName']").val("");
			// $("select[name='taskTypeID'] option:first").attr("selected", true);
			// $("select[name='systemName'] option:first").attr("selected", true);
			
			//$("input[name='startEst']").val("");
			//$("input[name='finishEst']").val("");
		
			//$("select[name='totalWork']").val("");
			//$("select[name='owner']").val("");
			//$("select[name='approver']").val("");

			// $("select[name='totalWork'] option:first").attr("selected", true);
			
			// $("select[name='owner'] option:first").attr("selected", true);
			// $("select[name='approver'] option:first").attr("selected", true);

			//$("textarea[name='detail']").val("");

			//TODO
		}

		function editTask(currentObj){

			clearInputTemp();
			$('#add_edit_task_lable').html('Edit task');
			$('#btn_add').hide();
			$('#btn_edit').removeAttr("disabled");
			$('#btn_edit').show();

			// $('#btn_add').val('Edit');
			// $('#btn_add').attr("ng-click","edit()");
			//$('#btn_add').removeAttr('disabled');
			$('.theme-popover-mask').fadeIn(100);
			$('.theme-popover').slideDown(200);

			//TODO: fetch detail from DB
				
			var toEditTaskObj = {};
			toEditTaskObj.task_id = $(currentObj).parent().parent().parent().attr('id');
			toEditTaskObj.task_rev = $(currentObj).parent().parent().parent().attr('rev');
			$('#task_setting_task_id').val(toEditTaskObj.task_id).trigger('change');
			$('#task_setting_task_rev').val(toEditTaskObj.task_rev).trigger('change');
			//alert(JSON.stringify(toEditTaskObj));
			$.getJSON(
				"/tasks/edittask",
				{"task_id":toEditTaskObj.task_id},
				function(data,status){
					if (data.status != '"NG"') {
						var task_settings_json ='<%-JSON.stringify(task_settings) %>';
						var task_settings = JSON.parse(task_settings_json);
						//alert(JSON.stringify(task_settings));
						$("#task_setting_task_assignment").val(data.taskObj.task_assignment);
						for(var task_setting_id in data.taskObj){
							
							var itemIdString = "'#task_setting_" + task_setting_id + "'";
								
							if ($(eval(itemIdString))[0]) {
								if ($(eval(itemIdString))[0].tagName === "INPUT") {
									$(eval(itemIdString)).val(data.taskObj[task_setting_id].replace("<br/>","&#13;")).trigger('change');	
								} else if ($(eval(itemIdString))[0].tagName === "SELECT" && task_setting_id != "task_assignment") {
									
									//var appElement = document.querySelector('[ng-controller=tasksCtrl]');
									//var $scope = angular.element(appElement).scope(); 

									//$scope.task[task_setting_id] = task_settings[task_setting_id].item_options;
									
									itemIdString1 = "'#task_setting_" + task_setting_id + "'";
									//console.log($(eval(itemIdString1)));
									$(eval(itemIdString1)).empty();
									//alert(task_setting_id);
									//$(eval(itemIdString1)).find("option").attr("selected", false).trigger('change');
									$.each(task_settings[task_setting_id].item_options, function(index, content){
										$(eval(itemIdString1)).append("<option value='" + content + "'>" + content + "</option>");
									});
									$(eval(itemIdString1)).val(data.taskObj[task_setting_id]);
									//alert(data.taskObj[task_setting_id]);
									//alert($(eval(itemIdString1)));
									//$(eval(itemIdString1)).find("option").attr("selected", false).trigger('change');
									//console.log($(eval(itemIdString1)));
									
									//itemIdString2 = "'#task_setting_" + task_setting_id + " option[label = "+ data.taskObj[task_setting_id]+ "]'";
									//alert($(eval(itemIdString2)));
									//console.log($(eval(itemIdString1)));
									//$(eval(itemIdString2)).attr("selected", true).trigger('change');
									//alert($scope.task.task_name);
									//alert($(eval(itemIdString)).val());
									//$("select[name='approver'] option[label='" + data.task_approver + "']").attr("selected", true);
								}
								
							}
							
						}
						//alert(JSON.stringify(data.taskObj));
						/**
						$("input[name='task_id']").val(data.taskObj._id).trigger('change');
						$("input[name='task_rev']").val(data.taskObj._rev).trigger('change');
						//$('#err-message-content').text(data.err);
						$("input[name='taskName']").val(data.taskObj.task_name).trigger('change');
						$("select[name='taskTypeID'] option[label='" + data.task_type + "']").attr("selected", true);
						$("select[name='systemName'] option[label='" + data.system_name + "']").attr("selected", true);
						
						$("input[name='startEst']").val(data.task_start_est);
						$("input[name='finishEst']").val(data.task_end_est);
					
						$("select[name='totalWork'] option[label='" + data.task_totaltime + "']").attr("selected", true);
						//$("input[name='taskType']").val(data.task_remaintime);
						$("select[name='owner'] option[label='" + data.task_assignment + "']").attr("selected", true);
						$("select[name='approver'] option[label='" + data.task_approver + "']").attr("selected", true);

						$("textarea[name='detail']").val(data.task_detail);
						*/
					}

					
				}
			)

		}	

		$(document).ready(function(){
			$( "#nav" ).menu({position: {at: "left bottom"}});
			$( 'th' ).tooltip();
			var tasksjson ='<%-JSON.stringify(tasks) %>';
			var tasks = JSON.parse(tasksjson);
			var process = JSON.parse('<%-JSON.stringify(process) %>');
			var tradeoff_options = new Array();
			$.each(tasks, function(index, content){
				var assignment = content.task_assignment;
				var emergency = content.task_emergency;
				var taskType = content.task_tasktype_id;
				if (typeof(assignment) == "undefined") {
					var assignment = "Unassigned";
				}
				var endtime_estimated = content.task_end_estimate;
				if (typeof(endtime_estimated) === "undefined") {
					var endtime_estimated = "";
				}
				if($( '#' + content._id ).parent().attr("id") === "status_1") {
					var now = new Date();
					var option = {};
					var newKey =  now.getTime();
					option.key = newKey;
					option.name = content.task_name;
					option.values = {
					  "importance": content.task_importance,
					  "emergency": "M",
					  "deadline": content.task_end_estimate+"T00:00:00+09:00"
					}
					tradeoff_options.push(option);
				}
				console.log(""
					+"<div class='panel panel-primary' id = '" + content._id +"' rev = '" + content._rev +"'>"
					+"	<div class='panel-title'> <h6 >"
					+ "&nbsp;<a href = '#' class = 'taskdetail' title = '"
					+ "Task Type:" + content.task_type1
					+ "&#13;Task Detail:" + content.task_detail
					+"'>Detail</a>&nbsp;&nbsp;"
					+"<a href = '#' onclick ='editTask(this)'>Edit</a>&nbsp;&nbsp;<a href = '#' onClick = 'deleteTask(this)'>Delete</a>"
					+"&nbsp;&nbsp;<font color = red>"+endtime_estimated + "</font>&nbsp;"
					+"</h6> </div>"
					+"	<div class='panel-body'><h5>"+content.task_name.replace("\s/g","&nbsp;")+"</h5></div>"
					+"	<div class='panel-footer'>"
					+ emergency + "【" +assignment+ "】</div>"
					+"</div>");

				$( '#' + content._id ).replaceWith(""
					+"<div class='panel panel-primary' id = '" + content._id +"' rev = '" + content._rev +"'>"
					+"	<div class='panel-title'> <h6 >"
					+ "&nbsp;<a href = '#' class = 'taskdetail' title = '"
					+ "Task Type:" + content.task_type1
					+ "&#13;Task Detail:" + content.task_detail
					+"'>Detail</a>&nbsp;&nbsp;"
					+"<a href = '#' onclick ='editTask(this)'>Edit</a>&nbsp;&nbsp;<a href = '#' onClick = 'deleteTask(this)'>Delete</a>"
					+"&nbsp;&nbsp;<font color = red>"+endtime_estimated + "</font>&nbsp;"
					+"</h6> </div>"
					+"	<div class='panel-body'><h5>"+content.task_name.replace("\s/g","&nbsp;")+"</h5></div>"
					+"	<div class='panel-footer'>"
					+ emergency + "【" +assignment+ "】</div>"
					+"</div>");
					$('.panel-footer').css({"height":'40',"font-size":'16px',"color":'blue',"text-align":'right',"background-color":"white"});
					$('.panel-primary').css("width",'200');
					//$('.panel-primary').css("width",$(window).width()/process.length - 5);
					$(".panel-title").css({"background-color":"lavender","height":'30',"align":"center","padding-top":'8px'});
					$(".panel-primary").css("background-color","ivory");
					if (taskType === "emergency") {
						$(".panel-body").css({"background-color":"red","color":"white"});
					}
					$(".panel-primary").mouseover(function(){
					$(".panel-primary").css("cursor","pointer");
					$(".taskdetail").tooltip();
					});
			});
			$('#watson-tradeoff').text(JSON.stringify(tradeoff_options));
			var statusString = "'#status_1";
			 $.each(process, function(i,status){
				 if (status.status_id > 1){
					 statusString = statusString + ",#status_" + status.status_id;
				 }
			  });
			  statusString = statusString + "'"
			  var startstatus = null;
			  var endstatus = null;
			  var startTasksArray = new Array();
			  var endTasksArray = new Array();
			$( eval(statusString) ).sortable({
				connectWith: ".tdBorder",
				start: function( event, ui ) {
					startstatus = ui.item.parent();
				},
				stop: function( event, ui ) {
					startstatus.children().each(function(i,task) {
						startTasksArray.push(task.id);
					});
					endstatus = ui.item.parent();
					endstatus.children().each(function(i,task) {
						endTasksArray.push(task.id);
					});
					$.post(
						"./tasks",
						{"_id":ui.item.attr("id"),"task_status":ui.item.parent().attr("id"),
						 "start_status_id":startstatus.attr("id"),"end_status_id":endstatus.attr("id"),
						 "start_tasks":startTasksArray.toString(),"end_tasks":endTasksArray.toString(),
						 "rev":$('#process').attr("rev")},
						function(data,status) {
							if (JSON.stringify(data.err) != '"null"') {
								//$('#err-message-content').text(data.err);
								$('#modal-header').text("操作失敗");
								$('#modal-footer').remove();
								$('.modal-body').empty();
								$('.modal-body').append(data.err);
								if (JSON.parse(data.err) === "wip_over"){
									$('.modal-body').append(localStorage.getItem("wip_over"));
								} else {
									$('.modal-body').append(JSON.parse(data.err));
								}
								
								$('#modal-example').modal();
								//alert(data.err);
							}
							getSocket().emit('taskedit', {"_id":ui.item.attr("id"),"task_status":ui.item.parent().attr("id"),"rev":ui.item.attr("rev")});
						},
						"json"
					);
				},

			});
		   $( ".tdBorder" ).disableSelection();

			$( "#task_setting_task_name").focusout(function(){
				var watsonclassifierjson ='<%-JSON.stringify(watson_classifier) %>';
				if (watsonclassifierjson===null || watsonclassifierjson===undefined) {
				} else {
					var watson_classifier = JSON.parse(watsonclassifierjson);
					//alert(watson_classifier);
					$.post(
						"../watson/classify",
						{"task_name":$(this).val()},
						function(data,status) {
							var classify_result = data.result.top_class;
							if (classify_result === "XL") {
								classify_result = "XL(１日以上)";
							} else if (classify_result === "L") {
								classify_result = "L(３～８時間)";
							} else if (classify_result === "M") {
								classify_result = "M(１～３時間)";
							} else if (classify_result === "S") {
								classify_result = "S(１時間以内)";
							}
							$("#task_setting_task_size").val(classify_result);
							//alert(data);
						},
						"json"
					);
				}
			});

			$( "#watson_next_task").click(function(){
				$('#modal-header').text(localStorage.getItem("watson_trade_off_header"));
				$('#modal-footer').text(localStorage.getItem("watson_trade_off_footer"));
				$.post(
					"../watson/tradeoff",
					{"tradeoffjson":$('#watson-tradeoff').text()},
					function(data,status) {
						var tradeoff_options = data.result.problem.options;
						var tradeoff_solutions = data.result.resolution.solutions;
						//var suggestiionString = "Watson suggests to do the following task firstly:";
						
						var suggestiionString = "";
						$.each(tradeoff_solutions, function(index, content){
							if (content.status === "FRONT" ) {
								suggestiionString = suggestiionString + tradeoff_options[index].name + "<br />" + "<br />";
							}
						});
						var tradeoff_result = data.result;
						//suggestiionString = suggestiionString + '\n\n***This function need to set "Importance", "Emergency" and "EndTime Estimate" to Tasks.***';
						//suggestiionString = suggestiionString + '\n\n※この機能を利用するために、「重要度」、「緊急度」、「予定完了日」の設定が必要です。';
						//alert(suggestiionString);
						$('.modal-body').empty();
						$('.modal-body').append(suggestiionString);
						$('#modal-example').modal();
					},
					"json"
				);
				
			});
		});
	</script>

</body>

</html>