<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
	<link href="/css/jquery-ui.min.css" rel="stylesheet">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
	<link href=".css/jquery-ui.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <h2>Login</h2>
	<p>Demo ID: demo &nbsp;&nbsp;Password:demo </p>
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
		<button id="button">login</button>
    </form>
	<p id = "errorMessage"></p>
    <a href = "./register">Register</a>
	<script>
		$(document).ready(function(){
			$( "button" ).button();
			var errorMessage = JSON.parse('<%-JSON.stringify(error) %>');
			$("#errorMessage").text(errorMessage);
		});
	</script>
</body>
</html>
