html {
	font-size: 100%;
}

body,input,select,textarea,button,.ui-btn {
	font-size: 1em;
	line-height: 1.3;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif /*{global-font-family}*/;
}

.h_center{
	margin:0 auto;
	width:100%;
	text-align: center;
}

.v_center{
	overflow:hidden;
	vertical-align:middle; 
}

.ui-icon-user1:after {
	background-image: url("../images/user.png");
}

.ui-listview .ui-li-aside {
    right: 1em !important;
    top: 0.5em !important;
}