<div class='DialogTable'>
<!--We used 2 tables for the body has a very long text which is no wrap-->
<table cellpadding='0' cellspacing='0' width='100%' height="27px">
    <tr class="DialogTop">
    <td class="DialogTitle" width='100%'>
    <div id="{ID}_Title" style='float:left'></div>
    <div style='float:right'><img title="Close" src="../theme/dialog/close.gif" 
         id="{ID}_Close" align='absMiddle' class='WindowClose'>&nbsp;
    </div>
    <div id="{ID}_Loading" style='float:right'></div>
    <div style='clear:both;'></div>
    </td></tr>
    <tr class="DialogLine"><td></td></tr>
</table>
<table cellpadding='0' cellspacing='0' width='100%' height="100%">
	<tr id="DialogFrameTR">
    	<td valign='top' width="100%" id="{ID}_Body" class='DialogContext'></td>
	</tr>
</table><div></div>
</div>